<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showfalse</key>
		<true/>
		<key>title</key>
		<string>垂直拍摄</string>
		<key>memo</key>
		<string>手机侧边垂直于地面,不要仰拍或者俯拍,也不要左右倾斜,否则会导致照片中的房子变形。</string>
		<key>photo</key>
		<array>
			<string>tips_skill1</string>
			<string>tips_noskill1</string>
		</array>
	</dict>
	<dict>
		<key>showfalse</key>
		<true/>
		<key>title</key>
		<string>五面法</string>
		<key>memo</key>
		<string>拍照的时候力求呈现最大的空间，要将地面，对面，顶面，左侧面，右侧面这五部分都要入镜头，最佳的拍摄位置是进门处的门口，退到无路可退</string>
		<key>photo</key>
		<array>
			<string>tips_skill2</string>
			<string>tips_noskill2</string>
		</array>
	</dict>
	<dict>
		<key>showfalse</key>
		<true/>
		<key>title</key>
		<string>开灯拍摄</string>
		<key>memo</key>
		<string>最好在白天拍摄，不管外面阳光多么明媚尽量开灯拍摄。不要使用相机自带的闪光灯。</string>
		<key>photo</key>
		<array>
			<string>tips_skill3</string>
			<string>tips_noskill3</string>
		</array>
	</dict>
	<dict>
		<key>showfalse</key>
		<true/>
		<key>title</key>
		<string>房间整洁</string>
		<key>memo</key>
		<string>拍摄时千万不要将垃圾或者杂物带入镜头中，桌面、地面尽量保持干净整洁，拍出干净明亮的感觉很重要哦</string>
		<key>photo</key>
		<array>
			<string>tips_skill4</string>
			<string>tips_noskill4</string>
		</array>
	</dict>
	<dict>
		<key>showfalse</key>
		<true/>
		<key>title</key>
		<string>不要逆光拍摄</string>
		<key>memo</key>
		<string>若房间阳台或窗户光线强烈，可以考虑拉上窗帘或者顺光拍摄，逆光拍摄会显得整个房间暗淡无光</string>
		<key>photo</key>
		<array>
			<string>tips_skill5</string>
			<string>tips_noskill5</string>
		</array>
	</dict>
	<dict>
		<key>showfalse</key>
		<false/>
		<key>title</key>
		<string>站在斜对角或者正对面</string>
		<key>memo</key>
		<string>客户买的是空间面积，站斜对角或正对面的位置拍摄，房间看起来会大很多</string>
		<key>photo</key>
		<array>
			<string>tips_skill6</string>
			<string>tips_noskill6</string>
		</array>
	</dict>
	<dict>
		<key>showfalse</key>
		<false/>
		<key>title</key>
		<string>全局拍摄</string>
		<key>memo</key>
		<string>客户买的是房子而不是某个家具，在狭小的房间内尽可能的拍摄到全局，不要只拍厨台或者马桶</string>
		<key>photo</key>
		<array>
			<string>tips_skill7</string>
			<string>tips_noskill7</string>
		</array>
	</dict>
	<dict>
		<key>showfalse</key>
		<false/>
		<key>title</key>
		<string>适当拍一些细节</string>
		<key>memo</key>
		<string>有些房间虽然整体装修一般，但是会有一个角落或者细节是很出彩的。比如挂在墙上的明信片，沙发上的抱枕，桌面上的香薰烛台等等。只要稍加布置，就会出来文艺效果呦</string>
		<key>photo</key>
		<array>
			<string>tips_skill8</string>
			<string>tips_noskill8</string>
		</array>
	</dict>
</array>
</plist>
