<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>dev</string>
		<key>url</key>
		<string>https://www.ksjdkfjskdjfk.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sta</string>
		<key>url</key>
		<string>https://www.ksjdkfjskdjf.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>product</string>
		<key>url</key>
		<string>https://www.ksjdkfjskdj.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>localhost</string>
		<key>url</key>
		<string>https://www.ksjdkfjskd.com</string>
	</dict>
</array>
</plist>
